# 1. Pages:
pages/*
!pages/.gitkeep
!pages/__init__.py
!pages/base_page.py
!pages/mixins/

# 2. Workflows:
workflows/*
!workflows/.gitkeep
!workflows/__init__.py
!workflows/base_workflow.py

# 3. Testcases:
testcases/*
!testcases/.gitkeep
!testcases/__init__.py
!testcases/test_demo.py

# 4. Data:
data/*
!data/.gitkeep

# ==========================
# 🐍 Python Standard & Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ==========================
# 🏠 Environment & Logs
# ==========================
.env
.venv
env/
venv/
logs/*
!logs/.gitkeep
*.log

# ==========================
# 🧪 Reports & Media
# ==========================
reports/
allure-report/
allure-results/
.pytest_cache/
screenshots/
*.png
*.mp4

# ==========================
# ⚙️ IDE
# ==========================
.idea/
.vscode/
*.swp
.DS_Store