# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
reports/
*.log
geckodriver.log
pytestdebug.log

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Mac
.DS_Store